* { margin: 0; padding: 0; box-sizing: border-box; }

.img_negao {
  
  width: 100vw;
  height: 100vh;
  border: none;
  
}

body { background-color: #000; }

main {
  
  width: 100vw;
  height: 100vh;
  position: fixed;
  
  
}

.txt_btn {
  
  content: 'CLIQUE NO PAU';
  width: 35px;
  height: 230px;
  writing-mode: vertical-rl;
  text-orientation: upbottom;
  border-radius: 20px;
  border: 5px solid black;
  position: absolute;
  z-index: 5;
  top: 60%;
  left: 53%;
  
}

.telas_grandes {
  
  display: none;
  
}

.telas_gigantes {
  
  display: none;
  
}

/* VIEWPORT SCREEN SIZE LANDSCAPE DEVICE */

@media only screen and (min-width:768px) {
  
  .txt_btn { display: none; }
  
  .img_negao { display: none; }
  
  .telas_gigantes { display: none; }
  
  main {
    
    background-color: #000;
    font-size: 2em;
    text-align: center;
    color: #ff8d0b;
    font-family: Arial, 'Sans-Serif';
    font-weight: bolder;
    position: relative;
    width: 100vw;
    height: 100vh;
    
  }
  
  .telas_grandes {
    
    display: inline-block;
    top: 50%;
    left: 0;
    width: 100vw;
    height 20vh;
    position: absolute;
    
  }
  
}

@media only screen and (min-width:900px) {
  
  .txt_btn { display: none; }
  
  .img_negao { display: none; }
  
  .telas_grandes { display: none; }
  
  main {
    
    background-color: #000;
    font-size: 2em;
    text-align: center;
    color: #ff8d0b;
    font-family: Arial, 'Sans-Serif';
    font-weight: bolder;
    position: relative;
    width: 100vw;
    height: 100vh;
    
  }
  
  .telas_gigantes {
    
    display: inline-block;
    top: 50%;
    left: 0;
    width: 100vw;
    height 20vh;
    position: absolute;
    
  }
  
}